{% extends "main.html" %}
{% block content %}
    <div class="shadow p-2">
        <span><a href="">{{object.author}}</a></span>
        <span class="ml-3 small text-muted">{{object.date_posted}}</span>
        <div>
            <a href="" class="btn btn-sm btn-info">Update</a>
            <a href="" class="btn btn-sm btn-danger">Delete</a>
        </div>
        <hr class="my-2">
        <div>
            <h3>{{object.title}}></h3>
            <p>{{object.content}}</p>
        </div>
    </div>
{% endblock content %}
    